/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
}

#title-top {
    font-size: 400%;
    padding-top: 3%;
    text-align: center;
}

#title-bottom {
    font-size: 400%;
    text-align: center;
    padding-top: 27%;
}

#search-bar {
    padding-left: 10%;
}

#album-collection {
    padding-left: 3%;
}

.album-container {
    padding: 2%;
    font-size: 1.9vh;
    border-radius: 2rem;
    margin: 30px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #d1d8e0;
    border-radius: 3px;
    align-items: center;
}

.album-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
    margin-left: 20%; 
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.album-container p {
    text-align: center;
    padding: 2%;
}

.album-title {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display;
}

.album-artist {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: SF Pro Display;
}

.album-date {
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: SF Pro Display;
}